<div class="card text-center animated fadeIn">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h2 class="card-title">Sobre HeroApp!</h2>
        <br>
        <p class="card-text">Esta es una Simple Page Aplication creada
            <br> en angular 10 con el fin de aprender sobre enrutamiento.</p>
        <br>
        <a href="/home" class="btn-primary btn button-outline shadow-lg">Volver al inicio</a>

    </div>
    <div class="card-footer text-muted">
    </div>
</div>